.main {
  position: relative;
  min-height: 100svh;
}

.inner {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  inset: 0;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
}

.loginButton {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 40px;
  border-radius: 50px;
  background-color: #f5f375;
  font-weight: 500;
  transition: transform 0.1s ease-in-out, opacity 0.3s ease;
}

.loginButton:hover {
  opacity: 0.8;
}

.loginButton:active {
  transform: translateX(-50%) scale(1.1);
}